body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}
h1 {
    color: #0056b3;
}
/* التنسيقات العامة */
.container { width: 80%; margin: auto; overflow: hidden; }
ul { margin: 0; padding: 0; }

/* الهيدر */
header { background: #35424a; color: #ffffff; padding-top: 30px; min-height: 70px; border-bottom: #e8491d 3px solid; }
header a { color: #ffffff; text-decoration: none; text-transform: uppercase; font-size: 16px; }
header li { float: left; display: inline; padding: 0 20px 0 20px; }
header #branding { float: right; }
header .highlight, header .current a { color: #e8491d; font-weight: bold; }

/* قسم الواجهة */
#showcase { min-height: 400px; background: url('showcase.jpg') no-repeat center; background-size: cover; text-align: center; color: #35424a; }
#showcase h1 { margin-top: 100px; font-size: 55px; margin-bottom: 10px; }
footer { padding: 20px; margin-top: 20px; color: #ffffff; background-color: #e8491d; text-align: center; }
#contact { padding: 15px; background: #35424a; color: #fff; text-align: center; }
.button_1 { height: 38px; background: #e8491d; border: 0; padding-left: 20px; padding-right: 20px; color: #ffffff; cursor: pointer; }